
.outside-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}

.inside-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.interactive {
    border-radius: 10px;
    margin: 3px 0;
    border: none;
    fill: #F3F4F6;
}

.text-input {
    background-color: #F3F4F6;
}

.variable-width {
    min-width: 0;
    width: 105px;
    flex: 1;
    background-color: #F3F4F6;
}

.item {
    flex: 1 1 auto;
}

.body {
    background-color: #E5E9EC;
}

.flex-grow {
    flex-grow: 1;
}

ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;

}